<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>
            Hola, {{ user.username }} <a href="{% url 'logout' %}">Logout</a>
        </p>
    {% else %}
        <p>
            Ud. no se encuentra autenticado, puedo hacerlo en <a href="{% url 'login' %}">Login</a>
        </p>
    {% endif %}
    <h1>Esta es mi pagina principal</h1>
</body>
</html>