<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if messages %}
        <ul>
           {% for message in messages %}
           <li class="{{ message.tags }}">{{ message }}</li>
           {% endfor %} 
        </ul>
    {% endif %}

    {% if user.is_authenticated %}
        <p>
            Hola, {{ user.username }} 
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Cerrar sesión</button>
            </form>
        </p>
    {% else %}
        <p>
            Ud. no se encuentra autenticado, puedo hacerlo en <a href="{% url 'login' %}">Login</a>
        </p>
    {% endif %}
    <h1>Esta es mi pagina principal</h1>
</body>
</html>